// secrets.js is created by ansible
var secret = {
    host: {
        hostname: "{{ secret.host.hostname }}",
    },
    ifttt: {
        key: "{{ secret.ifttt.key }}",
    },
    hue: {
        username: "{{ secret.hue.username }}"
    },
    smartthings: {
        token: "{{ secret.smartthings.token }}"
    }
};

module.exports = secret;
