# browse systemd logs
#    http://smarterhome.local:19531

- name: add log server
  become_user: root
  become: true
  apt:
      name: systemd-journal-remote
      state: present

- name: enable service at boot
  become_user: root
  become: true
  systemd:
    name: systemd-journal-gatewayd.socket
    state: started
    enabled: True
