{% extends "base.html" %}

{% block form_heading %}
{{ active_template.display_name }}
{% endblock %}

{% block form_fields %}
    <label for="line1">
        Line 1
        <input type="text" id="line1" name="Line1" placeholder="Line 1">
    </label>
    <label for="line2">
        Line 2
        <input type="text" id="line2" name="Line2" placeholder="Line 2">
    </label>
    <label for="symbolName">
        Bluey Symbol
        <select id="symbolName" name="SymbolName">
            {% for option in form_context.svg_symbol_options %}
                <option value="{{ option.slug }}" {% if option.slug == form_context.default_svg_symbol %}selected{% endif %}>{{ option.label }}</option>
            {% endfor %}
        </select>
    </label>
    <label for="initials">
        Initials
        <input type="text" id="initials" name="Initials" placeholder="GDP" maxlength="3">
    </label>
    <label for="packageDate">
        Package Date (mm/dd/yy)
        <input type="text" id="packageDate" name="PackageDate" placeholder="07/11/25">
    </label>
{% endblock %}
