[defaults]
inventory = inventory.yml
roles_path = roles
collections_path = .collections
host_key_checking = True
retry_files_enabled = False
interpreter_python = auto_silent
timeout = 30
forks = 10
stdout_callback = default

[ssh_connection]
pipelining = True
