#!/bin/sh

# https://github.com/maddox/dasher/wiki/Running-Dasher-on-a-Raspberry-Pi-at-startup
[Unit]
Description=node-sonos-http-api

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/node-sonos-http-api
Environment=NODE_ENV=production
LimitNOFILE=infinity
ExecStart=/usr/bin/npm run start
ExecStop=/usr/bin/npm run stop
Restart=always
RestartSec=10
KillMode=process

[Install]
WantedBy=default.target
