[Unit]
Description=Home-Assistant
After=network-online.target

[Service]
Type=simple
User=homeassistant
ExecStart=/bin/bash -c "MAKEFLAGS=-j4 /usr/local/bin/hass --config /srv/homeassistant/repo/HomeAssistantConfig"
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
