# https://gist.github.com/Pastukhovar/e08e98fc8cb0109f4c8a43795cef1b52

[Unit]
Description=zwave-js

[Service]
User=pi
WorkingDirectory=/home/pi
TimeoutStartSec=0
Restart=always
StandardOutput=journal
StandardError=journal
ExecStartPre=-sudo /usr/bin/podman stop %n
ExecStartPre=-sudo /usr/bin/podman rm %n
#ExecStartPre=/usr/bin/docker pull zwavejs/zwave-js-ui:latest
ExecStart=sudo /usr/bin/podman run --rm \
        --name %n \
        -e TZ="America/New_York" \
        -e ENABLE_CONTROL_PANEL=true \
        -p 8091:8091 \
        -p 3000:3000 \
        --network=host \
        -v /home/pi/store:/usr/src/app/store \
        --device=/dev/serial/by-id/usb-0658_0200-if00:/dev/zwave \
        zwavejs/zwave-js-ui:latest

[Install]
WantedBy=default.target
