#log {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 1.5em;
    padding: 0 -4em;
    font-size: 1em;
    color: white;
    background-color: black;
    font-family: Monoid;
}
