body {
    background-color: #212F3C;
    font-family: Monoid, monospace;
}

div.cell.active {
    /* TODO bring back current-room state */
    background-color: #73C6B6;
}

div.cell {
    margin: 0;
    padding: 0;

    text-align: center;
    cursor: pointer;

    background-color: #283747;
    color: #aaa;
}

div.cell:hover {
    background-color: #566573;
}

div#grid {
    margin: 0 auto;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-content: flex-start;
    align-items: center;
    flex-flow: row wrap;
}
