html, body, table {
  text-align: center;
  align: center;
}

table {
    margin: 0 auto;
/*    width: 1000px;*/
/*    height: 700px;*/
}

table td {
    margin: 0;
    padding: 0;

    text-align: center;
    cursor: pointer;
    border: 1px solid black;
    background-color: lime;
}
/*table tr {
    height: 10px;
}*/
table td {
    height:40px;
    width: 40px;
}

table td:hover {
    background-color: #8FFF7D;
}
