{
    "data": {
        "elevation": 0,
        "external_url": null,
        "internal_url": null,
        "latitude": 40.7467,
        "location_name": "Home",
        "longitude": -74.0574,
        "time_zone": "America/New_York",
        "unit_system": "imperial"
    },
    "key": "core.config",
    "version": 1
}