FILEX_UID={{ filex_identity.uid }}
FILEX_GID={{ filex_identity.group }}
FILEX_IMAGE_DIGEST={{ filex_private_config.image_digest }}
FILEX_PROXY_IMAGE={{ filex_proxy_image_id.stdout }}
TZ={{ usenet_timezone }}
