QNAP_UID={{ qnap_uid }}
QNAP_GID={{ qnap_gid }}
QNAP_CATALOG_CACHE_DIR={{ qnap_catalog_cache_dir | to_json }}
QNAP_CATALOG_STATE_DIR={{ qnap_catalog_state_dir | to_json }}
QNAP_CATALOG_SCRIPTS_DIR={{ qnap_catalog_scripts_dir | to_json }}
QNAP_STORAGEBOX_KEY_FILE={{ qnap_storagebox_key_file | to_json }}
QNAP_STORAGEBOX_KNOWN_HOSTS_FILE={{ qnap_storagebox_known_hosts_file | to_json }}
STORAGEBOX_HOST={{ qnap_storagebox_host | to_json }}
STORAGEBOX_USER={{ qnap_storagebox_user | to_json }}
STORAGEBOX_PORT={{ qnap_storagebox_port }}
STORAGEBOX_SHELL_TYPE={{ qnap_storagebox_shell_type | to_json }}
STORAGEBOX_HASHES={{ qnap_storagebox_hashes | to_json }}
STORAGEBOX_SHA256SUM_COMMAND={{ qnap_storagebox_sha256sum_command | to_json }}
RCLONE_SFTP_CHUNK_SIZE={{ qnap_rclone_sftp_chunk_size | to_json }}
RCLONE_SFTP_CONCURRENCY={{ qnap_rclone_sftp_concurrency }}
TZ={{ usenet_timezone | to_json }}
