QNAP_UID={{ qnap_uid }}
QNAP_GID={{ qnap_gid }}
QNAP_CATALOG_CACHE_DIR={{ qnap_catalog_cache_dir | to_json }}
QNAP_CATALOG_STATE_DIR={{ qnap_catalog_state_dir | to_json }}
QNAP_CATALOG_SCRIPTS_DIR={{ qnap_catalog_scripts_dir | to_json }}
QNAP_STORAGEBOX_KEY_FILE={{ qnap_storagebox_key_file | to_json }}
QNAP_STORAGEBOX_KNOWN_HOSTS_FILE={{ qnap_storagebox_known_hosts_file | to_json }}
STORAGEBOX_HOST={{ qnap_storagebox_host | to_json }}
STORAGEBOX_USER={{ qnap_storagebox_user | to_json }}
STORAGEBOX_PORT={{ qnap_storagebox_port }}
STORAGEBOX_SHELL_TYPE={{ qnap_storagebox_shell_type | to_json }}
STORAGEBOX_HASHES={{ qnap_storagebox_hashes | to_json }}
STORAGEBOX_SHA256SUM_COMMAND={{ qnap_storagebox_sha256sum_command | to_json }}
RCLONE_SFTP_CHUNK_SIZE={{ qnap_rclone_sftp_chunk_size | to_json }}
RCLONE_SFTP_CONCURRENCY={{ qnap_rclone_sftp_concurrency }}
RCLONE_TRANSFERS={{ qnap_rclone_transfers }}
RCLONE_CHECKERS={{ qnap_rclone_checkers }}
RCLONE_BWLIMIT={{ qnap_rclone_bwlimit | to_json }}
CATALOG_MIN_FREE_BYTES={{ qnap_catalog_min_free_bytes }}
STORAGE_WARN_FRACTION={{ qnap_storage_warn_fraction }}
QNAP_DASHBOARD_BIND_ADDRESS={{ qnap_dashboard_bind_address | to_json }}
QNAP_DASHBOARD_PORT={{ qnap_dashboard_port }}
QNAP_DASHBOARD_CONFIG_DIR={{ qnap_dashboard_config_dir | to_json }}
QNAP_DASHBOARD_STATE_DIR={{ qnap_dashboard_state_dir | to_json }}
QNAP_DASHBOARD_AUTH_FILE={{ qnap_dashboard_auth_file | to_json }}
TZ={{ usenet_timezone | to_json }}
